
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>

    </tr>
    <tr>
    <td>1</td>
    <td>Eğitim</td>
    <td>Eğitim ile ilgili içerik</td>
    <td>Aktif</td>
    <td>  <button class="btn btn-danger">Güncelle</button></td>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Eğitim ile ilgili içerik</td>
        <td>Aktif</td>
        <td>  <button class="btn btn-danger">Güncelle</button></td>
    </tr>

</table>
       




