
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Login 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/login-form-19/css/style.css">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">MVC Proje Kampı</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5">
                        <div class="img d-flex align-items-center justify-content-center" style="        background-image: url(/AdminLTE-3.0.4/login-form-19/images/bg.jpg);"></div>
                        <h3 class="text-center mb-0">Hoşgeldiniz</h3>
                        <p class="text-center">Giriş yapmak için lütfen kullanıcı adı ve parolanızı girin.</p>
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {

                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                                <input type="text" class="form-control" placeholder="UserName" name="UserName" required>
                                @if (ViewBag.ErrorMessage == "Kullanıcı yok")
                                {

                                    <a  style="color:red;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Böyle Bir Kullanıcı Yok</a>
                                }

                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                                <input type="password" class="form-control" placeholder="Password" name="Password" required> 
                                @if (ViewBag.ErrorMessage == "Şifreler Eşleşmiyor")
                                {

                            <a style="color:red;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Yanlış Şifre</a>
                                }
                            </div>
                           
                            <div class="form-group d-md-flex">
                                <div class="w-100 text-md-right">
                                    <a href="#">Şifremi Unuttum</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <button onclick="mesaj()" type="submit" class="btn form-control btn-primary rounded submit px-3" id="submit">Giriş Yap</button>
                            </div>
                           


                        }

                        <div class="w-100 text-center mt-4 text">
                            <p class="mb-0">Hesabınız yok mu?</p>
                            <a href="/Account/Register">Şimdi kaydolun!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/AdminLTE-3.0.4/login-form-19/js/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-19/js/popper.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-19/js/bootstrap.min.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-19/js/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
<script>
    function sifrelereslesmiyor() {

        Swal.fire({
            icon: 'error',
            title: 'Yanlış Şifre',
            text: 'Lütfen tekrar deneyin!',
            footer: '<a href="">Şifreni mi Unuttun?</a>'
        })

    } 
    function kullaniciyok() {

        Swal.fire({
            icon: 'error',
            title: 'Geçersiz Kullanıcı Adı',
            text: 'Lütfen tekrar deneyin!',
            footer: '<a href="">Bir hesabın yok mu?Şimdi Kaydol</a>'
        })

    } 

</script>

