
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>

    </tr>
   
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Eğitim ile ilgili içerik</td>
        <td>Aktif</td>
    </tr>
</table>
