
@{
    Layout = null;
}

<!DOCTYPE html>

<table>
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
   
    <tr>
       
    </tr>
</table>
