
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div style="margin:20px">
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Güncelle</th>
          
        </tr>

        <tr>
            <td>1</td>
            <td>Eğitim</td>
            <td>Eğitim ile ilgili içerik</td>
            <td>Aktif</td>
            <td>  <button class="btn btn-danger">Güncelle</button></td>
</tr>
        <tr>
            <td>1</td>
            <td>Eğitim</td>
            <td>Eğitim ile ilgili içerik</td>
            <td>Aktif</td>
            <td>  <button class="btn btn-danger">Güncelle</button></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Eğitim</td>
            <td>Eğitim ile ilgili içerik</td>
            <td>Aktif</td>
            <td>  <button class="btn btn-danger">Güncelle</button></td>
        </tr>

    </table>
    <button class="btn btn-success">Yeni Kategori Ekle</button>
    <button class="btn btn-primary">Kategori Listesi</button>
</div>